<div class="body-nav body-nav-horizontal body-nav-fixed">
  <div class="container">
      <ul>
          <li>
              <a href="#">
                  <i class="icon-dashboard icon-large"></i> Dashboard
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon-calendar icon-large"></i> Schedule
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon-map-marker icon-large"></i> Map It
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon-tasks icon-large"></i> Widgets
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon-cogs icon-large"></i> Settings
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon-list-alt icon-large"></i> Forms
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="icon-bar-chart icon-large"></i> Charts
              </a>
          </li>
      </ul>
  </div>
</div>